#profile-header{
    position: relative;
    height: 50vh;
    max-height: 50vh;
    min-height: 50vh;
}

#profile-header #conver-image{
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

#profile-header #profile-image{
    position: relative;
    top: 0;
    bottom: auto;
    padding-left:1em;
    width: 7%;
  
   
}

#extra-link div:hover{
    background-color: rgb(216, 216, 216);
    opacity: 0.9;    
}  

#extra-link div.active{
    background-color: rgb(185, 185, 185);
}

#extra-link{
    position: absolute;
    top: 2%;
    bottom: 0;
    max-height: fit-content;
    left: auto;
    right: 2%;
    
    
}

#extra-link  div{
    background-color: white;
    padding:0.5em;
    margin-left: 10px;
    cursor: pointer;
}

@media only screen and (max-width:1120px) and (min-width:801px){
    #profile-header-info{
     
        background: linear-gradient(180deg,transparent 20% , white 20% 60%);
        height: 40%;
    
    }

    #profile-header{
        position: relative;
        height: 50vh;
        max-height: 50vh;
        min-height: 50vh;
    }
    
}






@media (max-width:350px){
   
    #profile-header{
        position: relative;
        height: 70vh;
        max-height: 70vh;
        min-height:70vh;
    }
}

