aside{
    border-right: 1px solid rgb(207, 189, 189);
    position: relative;
}
#sidebar-filter .container{
    position: fixed;
}
#main-search-result{
    background-color: white;
}


@media only screen and (max-width:700px){
    aside{
        
        position: relative;
    }
    * .d-sm-none{
        display: none;
    }
}