#foods-list .swiper-slide {
    padding: 0em;
    margin:  6% 0  6% 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    font-weight: 700;

}

#foods-list  .swiper-button-prev,#foods-list  .swiper-button-next{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: auto;
}

#foods-list {
    border-bottom: 1px solid rgb(207, 189, 189);
}