.header-img-container{
  min-height: 45rem;
}
.header-img-container img{
  min-height: 45rem;
}


.site-intro{
  position: absolute;
  left: 23%;
  top: 20%;
  bottom: auto;
  z-index: 2;
}

.site-intro-font-1{
  font-size: 8rem;
  
}




.site-intro-font-2{
  font-size: 9rem;
  margin-left: 1rem;
}

/* promotions */
#pormotions #intro-container{
  position: relative;
}

#promotions .intro{
  position: sticky;
  top:10%;
}