.header-img-container{
  min-height: 45rem;
}
.header-img-container img{
  min-height: 45rem;
  width: 100%;
}
.site-header{
  min-height: 45rem;
}



.site-intro{
  position: absolute;
  left: 23%;
  top: 20%;
  bottom: auto;
  z-index: 2;
}

.site-intro-font-1{
  font-size: 8rem;
  
}

.site-intro-font-2{
  font-size: 9rem;
  margin-left: 1rem;
}

/* promotions */
#pormotions #intro-container{
  position: relative;
}

#promotions .intro{
  position: sticky;
  top:10%;
}

@media  only screen and (max-width:700px){
  .header-img-container{
    max-height: 0;
    display: none;
  }
  .header-img-container img{
    width: 0;
    max-height: 0;
    display: none;
  }
  .header-img-container img.d-block{
    display: none;
  }

  .site-intro-font-1{
    font-size: 3rem;
    display: block;
    
  }
  
  .site-intro-font-2{
    font-size: 4rem;
    margin-left: 0rem;
  }
}
