.header-img-container{
  min-height: 100vh;
}
.header-img-container img{
  min-height: 100vh;
}

.site-intro{
  position: absolute;
  left: 23%;
  top: 20%;
  bottom: auto;
  z-index: 2;
}

.site-intro-font-1{
  font-size: 8rem;
  
}


.site-intro-font-2{
  font-size: 9rem;
  margin-left: 1rem;
}