#profile-header-info{
    position: absolute;
    top:auto;
    bottom: 0;
    background: linear-gradient(180deg,transparent 30% , white 30% 60%);;
    bottom: 0;
    min-width: 100%;
    height: 53%;
    padding:  0.5em 1em 0.2em 1em
}

@media only screen and (max-width:1120px) and (min-width:801px){
    #profile-header-info{
        background: linear-gradient(180deg,transparent 20% , white 20% 60%);
        height: 50%;
    }
}

@media only screen and (max-width:800px){
    #profile-header-info{
        position: absolute;
        top:auto;
        bottom: 0;
        background-color: white;
        bottom: 0;
        min-width: 100%;
        height: 50%;

    }

    #profile-header #profile-image{
        position: absolute;
        top: auto;
        bottom: 100%;
        left: 0;
        
        padding-left:1em;
        width: 100px;
      
       
    }
    
}


@media (min-width:700px) and (max-width:800px){
    #profile-header-info{
        height: 30%;
    }
}

@media (max-width:350px){
    #profile-header-info{
        height: 30%;
    }
   

    #profile-header-info span, #profile-header-info a{
        font-size: 0.8em;
    }
}

@media (min-width:300px) and (max-width:800px){
    #profile-contact{
        margin-top: 3%;
    }
}