#search-form .border{
    border-radius: 3%;
}
#search-form .input-group-text , #search-form .form-control{
    border: none;
    background-color: inherit;
}

#search-form .form-control{
    box-shadow: none;
    transition: none;
}

@media  only screen and (max-width:700px){
    nav.navbar{
        padding-left: 0;
        padding-right: 0;
    }
    nav .w-10{
        display: inline-block;
        min-width: max-content;
    }

}