body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color :#F9F6F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-custome-middle{
  max-width: 70%;
  margin: 10% auto 10% auto;
}

.index-5{
  z-index: 5;
}



.vh-100{
  min-height: 100vh;
}

.curve{
  border-radius: 0 0 240px 50%/60px;
}

.bg-c-grey{
  background-color: #EAE9E5;
}

.bg-c-white{
  background-color :#F9F6F5;
}
.w-10{
  width: 10%;
}
.w-70 {
  min-width: 70%;
}

a.black-link-c{
  color: black;
  font-size: 1em;
}

a.black-link-c:hover{
  color: rgb(65, 63, 63);

}

.hide-mobile{
  display: block;
}




